body { /** todas as páginas **/
    background-color: #fff;
    font-family:'Trebuchet MS', Arial, sans-serif;
}
p {  /** tag p em todas as páginas **/
    padding: 0 20px 0 20px;
}
header { /** todas as páginas **/
    margin-top: -20px;
    text-align: center;
}
ul { /** menu em todas as páginas **/
    padding: 0px;
    margin: 0 150px 20px 150px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #919191;
}
.menu { /** menu em todas as páginas **/
    display: inline;
    float: left;
}
.menu a { /** menu em todas as páginas **/
    display: block;
    color: #3b3b47;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a:hover { /** menu em todas as páginas **/
    color: #919191;
}
#atual { /** marca a página atual no menu (varia de página para página) **/
    color: #bebebe;
}
footer { /** footer em todas as páginas **/
    background-color: #e9e7e7;
    text-align: center;
    height: 70px;
    width: 102%;
    clear: both;
    padding-top: 5px;
    margin: -20px 0 -20px -20px;
}
#coluna1 { /** coluna 1 na página inicial **/
    text-align: justify;
    width: 505px;
    background-color: #FFF;
    border: 1px solid  #919191;
    float: left;
    margin: 10px 0 20px 150px;
}
#coluna2 { /** coluna 2 na página inicial **/
    text-align: justify;
    margin: 10px 150px 20px 0;
    width: 505px;
    background-color: #FFF;
    border: 1px solid #919191;
    float: right;
}
#coluna-unica { /** coluna única no manual e na página da ferramenta **/
    background-color: #FFF;
    margin: 30px auto 40px auto;
    text-align: justify;
    border: 1px solid #919191;
    width: 1050px;
}
h2 { /** títulos nas colunas 1, 2 e única **/
    background-color: #f1eded;
    margin: 0 0 -10px 0;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 20px;
}
#leia-mais:link, #leia-mais:visited { /** leia mais na página inicial **/
    border: 1px solid #919191;
    color: #000;
    padding: 5px 10px;
    margin: 10px 0 0 370px;
    text-decoration: none;
    display: inline-block;
}
#leia-mais:hover, #leia-mais:active { /** leia mais na página inicial **/
    border: 1px solid #000;
    color: #000;
}
ol {
    padding: 0 30px 0 30px;
}
ol a:link, ol a:visited { /** lista na página inicial **/
    color: #535353;
    text-decoration: none;
}
ol a:hover, ol a:active { /** lista na página inicial **/
    color: #cccaca;
}
blockquote { /** página do manual **/
    background-color: #f1eded;
    border-left: 3px solid #bebebe;
    padding: 1px 5px 1px 10px;
}
blockquote:hover { /** página do manual **/
    border-left: 3px solid #919191;
}
h3 { /** subtítulos na página do manual **/
    padding-left: 20px;
    border-bottom: 1px solid black;
}
img { /** imagens na página do manual **/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
fieldset { /** página da ferramenta **/
    padding: 0 0 0 0;
    display: inline;
    border: none;
}
.estado label > input{ /** página da ferramenta **/
    visibility: hidden;
}
.estado label > input + i { /** página da ferramenta **/
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: url(../img/0.png) ;
    transition: 0.5s;
}
.estado label > input:checked + i { /** página da ferramenta **/
    background: url(../img/1.png) ;
}
pre { /** página da ferramenta **/
    font-family: arial;
    font-size: 40px;
    margin: 20px 0 20px 0;
    text-align: center;
}